@using TT1.Models
@model IndexViewModel
@{
	ViewBag.Title = "Список всех пользователей";
}

<a asp-action="Create" asp-controller="Customer">Добавить пользователя</a>
<table class="table">
	<tr>
		<td><a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">Имя</a></td>
		<td><a asp-action="Index" asp-route-sortOrder="@ViewBag.PhoneNumberSort">Номер телефона</a></td>
		<td><a asp-action="Index" asp-route-sortOrder="@ViewBag.AddressSort">Адрес</a></td>
		<td>Операции</td>
		<td>Продукты клиента</td>
	</tr>
	@foreach (var us in Model.Customers)
	{
		<tr>
			<td>@us.Name</td>
			<td>@us.PhoneNumber</td>
			<td>@us.Address</td>
			<td>
				<a asp-action="Edit" asp-controller="Home" asp-route-id="@us.Id">Изменить</a> |
				<a asp-action="DeleteCustomerProduct" asp-controller="Home" asp-route-id="@us.Id">УдалитьПродукты</a> |
				<a asp-action="Delete" asp-controller="Customer" asp-route-id="@us.Id">Удалить</a>
			</td>
			@foreach (var n in us.CustomerProducts)
			{
				<td>@n.Product.NameProduct</td>
			}
		</tr>
	}
</table>
<a asp-action="Product" asp-controller="Product">Продукты</a>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
        asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
        class="btn btn-default btn">
         <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
        asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
        class="btn btn-default btn">
        Вперед
		<i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}


